beautifulsoup4~=4.3
py-radix~=0.7
ripe.atlas.sagan~=0.1
dnspython~=1.11
ipaddress~=1.0
arrow~=0.4
futures~=3.0
git+https://github.com/RIPE-NCC/ripe-atlas-cousteau.git@latest#egg=ripe.atlas.cousteau
iso3166~=0.7
haversine~=2.3
