<html>

<body>
    <svg width="1440" height="850" viewBox="-480 -250 960 500">
        <defs>
            <linearGradient id="linear" x1="0%" y1="0%" x2="100%" y2="0%">
                <stop offset="0%" stop-color="#05a" />
                <stop offset="100%" stop-color="#0a5" />
            </linearGradient>
        </defs>
        <circle r="270" cx="0" cy="0" class="bg-circle eyeball" />
        <circle r="220" cx="0" cy="0" class="interior-circle" />
        <!-- <circle r="215" cx="0" cy="0" class="baseline-c" /> -->

    </svg>
    <script type="text/javascript" src="./bundle.js" charset="utf-8"></script>
    </head>
</body>

</html>