<html>

<body>
    <svg width="100%" viewBox="-400 -250 800 500" class="p-t-p-fabric">
        <defs>
            <linearGradient id="linear" x1="0%" y1="0%" x2="100%" y2="0%">
                <stop offset="0%" stop-color="#05a" />
                <stop offset="100%" stop-color="#0a5" />
            </linearGradient>
        </defs>
        <!-- <circle r="250" cx="0" cy="0" class="bg-circle eyeball" /> -->
        <circle r="245" cx="0" cy="0" class="interior-circle" />
        <!-- <circle r="215" cx="0" cy="0" class="baseline-c" /> -->

    </svg>

    <!-- legend -->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 305.46 318.51" class="legend">
        <path class="c-ring" d="M0,26.55A360.59,360.59,0,0,1,45.28,0L58.35,27A329.14,329.14,0,0,0,17.19,51.14Z" />
        <g class="eyeball">
            <circle cx="34.95" cy="35.38" r="17.9" />
        </g>
        <text transform="translate(72.68 30.16)">A network that serves end-users</text>
        <path class="c-ring" d="M0,89.33A360.66,360.66,0,0,1,45.28,62.77l13.07,27a329.21,329.21,0,0,0-41.16,24.14Z" />
        <g class="eyeball-with-transit">
            <circle cx="34.95" cy="96.09" r="17.21" />
        </g>
        <text transform="translate(72.68 70.86)">A network that serves end-users and
            <tspan x="0" y="17">provides transit to other end-user net</tspan>
            <tspan x="0" y="34">works within the country</tspan>
        </text>
        <g class="transit">
            <circle class="transit" cx="34.75" cy="142.68" r="14.58" />
        </g>
        <text transform="translate(72.48 135.69)">A transit network or an IXP external to
            <tspan x="0" y="18">this country</tspan>
        </text>
        <g class="ixp">
            <circle cx="34.91" cy="185.19" r="13.6" />
        </g>
        <text transform="translate(72.64 188.71)">An IXP that is identified with this country</text>
        <g class="eyeball-no-probe">
            <path class="c-ring" d="M0,293.92a359.38,359.38,0,0,1,45.28-26.55l13.07,27a329.21,329.21,0,0,0-41.16,24.14Z" />
        </g>
        <text transform="translate(72.68 285.95)">
            <tspan xml:space="preserve">A sizable end-user network for which we </tspan>
            <tspan x="0" y="18">have no data</tspan>
        </text>
        <path class="c-ring" d="M0,240.47a360.59,360.59,0,0,1,45.28-26.55l13.07,27a329.21,329.21,0,0,0-41.16,24.14Z" />
        <text transform="translate(72.68 232.5)">A sizable end-user network for which
            <tspan x="0" y="18">we have data</tspan>
        </text>
    </svg>
    <!-- end legend -->
    <script type="text/javascript" src="./bundle.js" charset="utf-8"></script>
    </head>
</body>

</html>