<!DOCTYPE html>
<head>
<meta charset="utf-8">
<style>
body {
   margin: 40px;
   width: 90%;
}
span {
    margin: 5px;
    float: left;
    white-space: nowrap;
} 
div {
   margin-bottom: 50px;
   background-color: lightgray;
}

div.container {
   float: left;
   margin: 5px;
}

</style>
</head>
<body>
<div class='container'>
This tagcloud provides information about the <a href="https://atlas.ripe.net/docs/probe-tags/">RIPE Atlas probe tags</a>
for the probes that were used for this mesh measurement. System tags are set by the RIPE Atlas system, while user tags are set by the probe host.
</div>
<div class='container'>
<h2>System Tags</h2>
<div id='system-tags'></div>
</div>
<div class='container'>
<h2>User Tags</h2>
<div id='user-tags'></div>
</div>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script>
// .format() for strings
// First, checks if it isn't implemented yet.
if (!String.prototype.format) {
  String.prototype.format = function() {
    var args = arguments;
    return this.replace(/{(\d+)}/g, function(match, number) {
      return typeof args[number] != 'undefined'
        ? args[number]
        : match
      ;
    });
  };
}

$.ajax({url: "tags.json", success: function( data ) {
      data['system'].map( function( item ) {
         $('#system-tags').append( '<span style="font-size: {1}px">{0}</span>'.format( item['text'], 15+1.5*item['count'] ) );
      });
      data['user'].map( function( item ) {
         $('#user-tags').append( '<span style="font-size: {1}px">{0}</span>'.format( item['text'], 15+1.5*item['count'] ) );
      });
   }
});
</script>
</body>
